---

BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100

---

Language: Cpp

# Google style: access modifier indent = 1
AccessModifierOffset: -3

# Dive Specific:
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterExternBlock: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyRecord: false
BreakBeforeBraces: Custom
