/*
 Copyright 2019 Google LLC

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
*/

#include "dive/build_defs/version_defs.h"
#define CONCAT2(a, b) a.b
#define STRINGIZE_(x) #x
#define STRINGIZE(x) STRINGIZE_(x)

#define APSTUDIO_READONLY_SYMBOLS
#include "winres.h"
#undef APSTUDIO_READONLY_SYMBOLS

// English (United States) resources
#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

1 ICON "images/dive.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION DIVE_VERSION_MAJOR,DIVE_VERSION_MINOR,DIVE_VERSION_REVISION
 PRODUCTVERSION DIVE_VERSION_MAJOR,DIVE_VERSION_MINOR
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Google LLC"
            VALUE "FileDescription", DIVE_PRODUCT_DESCRIPTION
            VALUE "FileVersion", DIVE_VERSION
            VALUE "InternalName", "dive_ui.exe"
            VALUE "LegalCopyright", DIVE_COPYRIGHT_DESCRIPTION
            VALUE "OriginalFilename", "dive_ui.exe"
            VALUE "ProductName", DIVE_PRODUCT_NAME
            VALUE "ProductVersion", STRINGIZE(CONCAT2(DIVE_VERSION_MAJOR,DIVE_VERSION_MINOR))
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

#endif    // English (United States) resources
