name: Reusable Dive Build on Linux targetting Android

on:
  workflow_call:
    inputs:
      build_type:
        required: true
        type: string
      upload_cache:
        required: true
        type: boolean

jobs:
  build_device_linux:
    name: Build Device Linux ${{ inputs.build_type }}
    runs-on: ubuntu-24.04
    steps:
      - name: Set up Java 17
        uses: actions/setup-java@v5
        id: setup-java
        with:
          java-version: "17"
          distribution: "temurin"
      - name: Check out code
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Install dependency
        run: |
          sudo apt-get update --yes
          sudo apt-get install --yes \
            ccache \
            cmake \
            libxcb-glx0-dev \
            ninja-build \
            python3-mako
      - uses: nttld/setup-ndk@afb4c9964b521afb97c864b7d40b11e6911bd410 # v1.5.0
        id: setup-ndk
        with:
          ndk-version: r25
          add-to-path: true
      - name: Configure ccache for uploading (upload_cache)
        if: ${{ inputs.upload_cache }}
        run: ccache -z
      - name: Configure ccache for restoring (!upload_cache)
        if: ${{ !(inputs.upload_cache) }}
        run: |
          ccache -z
          ccache --set-config=read_only=true
      - name: Cache ccache (upload_cache)
        if: ${{ inputs.upload_cache }}
        uses: actions/cache@v5
        with:
          path: ${{ github.workspace }}/.ccache
          key: ${{ runner.os }}-android-${{ inputs.build_type }}-ccache-continuous-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-android-${{ inputs.build_type }}-ccache-continuous-
      - name: Restore ccache (!upload_cache)
        if: ${{ !(inputs.upload_cache) }}
        uses: actions/cache/restore@v5
        with:
          path: ${{ github.workspace }}/.ccache
          key: ${{ runner.os }}-android-${{ inputs.build_type }}-ccache-continuous-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-android-${{ inputs.build_type }}-ccache-continuous-
      - name: Generate build files with cmake
        # DIVE_GFXR_GRADLE_CONSOLE=plain produces more readable output in CI
        run: |
          cmake \
          -DCMAKE_TOOLCHAIN_FILE=${ANDROID_NDK_HOME}/build/cmake/android.toolchain.cmake \
          -G "Ninja Multi-Config" \
          -DCMAKE_MAKE_PROGRAM="ninja" \
          -DCMAKE_SYSTEM_NAME=Android \
          -DANDROID_ABI=arm64-v8a \
          -DANDROID_PLATFORM=android-26 \
          -DCMAKE_FIND_ROOT_PATH_MODE_INCLUDE=NEVER \
          -DCMAKE_FIND_ROOT_PATH_MODE_LIBRARY=NEVER \
          -DCMAKE_POLICY_VERSION_MINIMUM=3.5 \
          -DDIVE_GFXR_GRADLE_CONSOLE=plain \
          -DCMAKE_C_COMPILER_LAUNCHER=ccache \
          -DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
          -Bbuild_android .
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
          JAVA_HOME: ${{ steps.setup-java.outputs.java-home }}
      - name: Build lib with NDK
        run: |
          ninja -C build_android -f build-${{ inputs.build_type }}.ninja
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
          JAVA_HOME: ${{ steps.setup-java.outputs.java-home }}
      - name: Ninja log
        run: |
          cat build_android/.ninja_log
      - name: Show ccache stats
        run: ccache -s
      - name: Produce install artifacts
        run: |
          cmake --install build_android --prefix pkg --config ${{ inputs.build_type }}
