name: Reusable Dive Build on Linux

on:
  workflow_call:
    inputs:
      build_type:
        required: true
        type: string
      cc:
        required: true
        type: string
      cxx:
        required: true
        type: string
      restore_cache:
        required: true
        type: boolean
      upload_cache:
        required: true
        type: boolean

jobs:
  build_host_linux:
    name: Build Host Linux ${{ inputs.build_type }} ${{ inputs.cc }}
    runs-on: ubuntu-24.04
    env:
      CCACHE_DIR: ${{ github.workspace }}/.ccache
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Install Qt dependencies (including xcb)
        run: |
          sudo apt-get update
          sudo apt-get install -y libxcb-xinerama0 libxcb-xinerama0-dev libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-render-util0 libxkbcommon-x11-0 libxcb1 libx11-xcb1
      - uses: jurplel/install-qt-action@d325aaf2a8baeeda41ad0b5d39f84a6af9bcf005 # v4.3.0
        with:
          version: 5.15.2
          # Minimize the number of Python installations so that CMake chooses the system Python with python3-mako.
          setup-python: false
      - name: Install Dive dependencies
        run: |
          sudo apt-get update --yes
          sudo apt-get install --yes \
            ccache \
            cmake \
            ${INPUTS_CC} \
            libsystemd-dev \
            libbsd-dev \
            ninja-build \
            python3-mako \
            libxcb-glx0-dev \
            libcurl4-openssl-dev
          which ${INPUTS_CC}
        env:
          INPUTS_CC: ${{ inputs.cc }}
      - name: (ccache) Clear stats
        run: ccache -z
      - name: (ccache) Restore (restore_cache)
        if: ${{ inputs.restore_cache }}
        uses: actions/cache/restore@v5
        with:
          path: ${{ env.CCACHE_DIR }}
          key: ${{ runner.os }}-${{ inputs.cc }}-${{ inputs.build_type }}-ccache-continuous-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-${{ inputs.cc }}-${{ inputs.build_type }}-ccache-continuous-
      - name: Generate build files with cmake
        run: |
          cmake \
            -G "Ninja Multi-Config" \
            -DCMAKE_POLICY_VERSION_MINIMUM=3.5 \
            -DCMAKE_C_COMPILER:FILEPATH=/usr/bin/${INPUTS_CC} \
            -DCMAKE_CXX_COMPILER:FILEPATH=/usr/bin/${INPUTS_CXX} \
            -DCMAKE_C_COMPILER_LAUNCHER=ccache \
            -DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
            -Bbuild/host .
        env:
          INPUTS_CC: ${{ inputs.cc }}
          INPUTS_CXX: ${{ inputs.cxx }}
      - name: Build Dive host tools with ninja with ${{ inputs.cc }}
        run: |
          ninja -C build/host -f build-${INPUTS_BUILD_TYPE}.ninja
        env:
          INPUTS_BUILD_TYPE: ${{ inputs.build_type }}
      - name: Ninja log
        run: |
          cat build/host/.ninja_log
      - name: Produce install artifacts
        run: |
          cmake --install build/host --prefix build/pkg --config ${INPUTS_BUILD_TYPE}
        env:
          INPUTS_BUILD_TYPE: ${{ inputs.build_type }}
      - name: Start Xvfb
        run: |
          Xvfb :99 -screen 0 1024x768x24 &
          export DISPLAY=:99
      - name: Run tests
        run: |
          export DISPLAY=:99
          ctest --output-on-failure -C ${INPUTS_BUILD_TYPE} --test-dir build/host
        env:
          INPUTS_BUILD_TYPE: ${{ inputs.build_type }}
      - name: (ccache) Show stats
        run: ccache -s
      - name: (ccache) Save (upload_cache)
        if: ${{ inputs.upload_cache }}
        uses: actions/cache/save@v5
        with:
          path: ${{ env.CCACHE_DIR }}
          key: ${{ runner.os }}-${{ inputs.cc }}-${{ inputs.build_type }}-ccache-continuous-${{ github.sha }}
