name: Reusable Dive Build on Windows

on:
  workflow_call:
    inputs:
      build_type:
        required: true
        type: string
      restore_cache:
        required: true
        type: boolean
      upload_cache:
        required: true
        type: boolean

jobs:
  build_host_windows:
    name: Build Host Windows ${{ inputs.build_type }}
    runs-on: windows-2022
    env:
      SCCACHE_DIR: "%APPDATA%\\Mozilla\\sccache\\cache"
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: mozilla/sccache-action@7d986dd989559c6ecdb630a3fd2557667be217ad # v0.0.9
      - uses: jurplel/install-qt-action@d325aaf2a8baeeda41ad0b5d39f84a6af9bcf005 # v4.3.0
        with:
          version: 5.15.2
          arch: win64_msvc2019_64
      - uses: ilammy/setup-nasm@72793074d3c8cdda771dba85f6deafe00623038b # v1.5.2
      - name: Install Dive dependencies
        run: |
          python3 -m pip install mako
      - name: (sccache) Clear stats
        run: sccache --zero-stats
      - name: (sccache) Restore (restore_cache)
        if: ${{ inputs.restore_cache }}
        uses: actions/cache/restore@v5
        with:
          path: ${{ env.SCCACHE_DIR }}
          key: ${{ runner.os }}-${{ inputs.build_type }}-sccache-continuous-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-${{ inputs.build_type }}-sccache-continuous-
      - name: Generate build files with cmake
        run: |
          cmake `
            -G "Visual Studio 17 2022" `
            -A x64 `
            -DCMAKE_C_COMPILER_LAUNCHER=sccache `
            -DCMAKE_CXX_COMPILER_LAUNCHER=sccache `
            -Bbuild .
      - name: Build Dive host tools with VS 2022
        run: |
          cmake --build build --config ${{ inputs.build_type }}
      - name: Produce install artifacts
        run: |
          cmake --install build --prefix pkg --config ${{ inputs.build_type }}
      - name: Run tests
        run: |
          ctest --output-on-failure -C ${{ inputs.build_type }} --test-dir build
      - name: (sccache) Show stats
        run: sccache --show-stats
      - name: (sccache) Save (upload_cache)
        if: ${{ inputs.upload_cache }}
        uses: actions/cache/save@v5
        with:
          path: ${{ env.SCCACHE_DIR }}
          key: ${{ runner.os }}-${{ inputs.build_type }}-sccache-continuous-${{ github.sha }}
