name: Dive Presubmit

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches: [ main ]
  pull_request: # Note it also runs as postsubmit

# Cancel previous runs if a more recent commit is pushed.
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  build_Windows:
    name: "Windows ${{ matrix.build_type }} build"
    runs-on: windows-2022
    strategy:
      matrix:
        build_type: [Debug, Release]
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
            version: 5.15.2
            target: desktop
            arch: win64_msvc2019_64
      - uses: ilammy/setup-nasm@v1
      - name: Install Dive dependencies
        run: |
          python3 -m pip install mako
      - name: Generate build files with cmake
        run: |
          cmake -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -G "Visual Studio 17 2022" -A x64 -Bbuild/host .
      - name: Build Dive host tools with VS 2022
        run: |
          cmake --build build/host --config ${{ matrix.build_type }}
      - name: Run tests
        run: |
          ctest --output-on-failure -C ${{ matrix.build_type }} --test-dir build/host
      - name: Install under build dir
        run: |
          cmake --install build/host --prefix build/pkg/host --config ${{ matrix.build_type }}
      - name: Upload test output
        uses: actions/upload-artifact@v4
        with:
          name: test_output_windows
          path: build/host/test_output

  build_Linux:
    name: "Windows ${{ matrix.build_type }} ${{ matrix.compiler }} build"
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        build_type: [Debug, Release]
        compiler: [gcc-14, clang-19]
        include:
          - cxx_compiler: g++-14
            compiler: gcc-14
          - cxx_compiler: clang++-19
            compiler: clang-19
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install Qt dependencies (including xcb)
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libxcb-xinerama0 \
            libxcb-xinerama0-dev \
            libxcb-icccm4 \
            libxcb-image0 \
            libxcb-keysyms1 \
            libxcb-render-util0 \
            libxkbcommon-x11-0 \
            libxcb1 \
            libx11-xcb1
      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          # Minimize the number of Python installations so that CMake chooses the system Python with python3-mako.
          setup-python: false
      - name: Install Dive dependencies
        run: |
          sudo apt-get update --yes
          sudo apt-get install --yes \
            cmake \
            ${{ matrix.compiler }} \
            libsystemd-dev \
            libbsd-dev \
            ninja-build \
            python3-mako \
            libxcb-glx0-dev
          which ${{ matrix.compiler }}
      - name: Generate build files with cmake
        run: |
          cmake -DCMAKE_POLICY_VERSION_MINIMUM=3.5 \
            -DCMAKE_C_COMPILER:FILEPATH=/usr/bin/${{ matrix.compiler }} \
            -DCMAKE_CXX_COMPILER:FILEPATH=/usr/bin/${{ matrix.cxx_compiler }} \
            -G "Ninja Multi-Config" \
            -Bbuild/host .
      - name: Build Dive host tools with ninja with ${{ matrix.compiler }}
        run: |
          cmake --build build/host --config ${{ matrix.build_type }}
      - name: Ninja log
        run: |
          cat build/host/.ninja_log
      - name: Start Xvfb
        run: |
          Xvfb :99 -screen 0 1024x768x24 &
          export DISPLAY=:99
      - name: Run tests
        run: |
          export DISPLAY=:99
          ctest --output-on-failure -C ${{ matrix.build_type }} --test-dir build/host
      - name: Install under build dir
        run: |
          cmake --install build/host --prefix build/pkg/host --config ${{ matrix.build_type }}