name: Dive Presubmit

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches: [main]
  pull_request: # Note it also runs as postsubmit

# Cancel previous runs if a more recent commit is pushed.
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

# Subset of the full combination, no Debug builds other than on Windows platform
jobs:
  build_host_linux:
    permissions:
      contents: read
      pull-requests: write
    strategy:
      matrix:
        include:
          - build_type: Release
            cc: gcc-14
            cxx: g++-14
          - build_type: Release
            cc: clang-19
            cxx: clang++-19
    uses: ./.github/workflows/build_linux.yml
    with:
      build_type: ${{ matrix.build_type }}
      cc: ${{ matrix.cc }}
      cxx: ${{ matrix.cxx }}
      restore_cache: true
      upload_cache: false

  build_host_windows:
    permissions:
      contents: read
      pull-requests: write
    strategy:
      matrix:
        build_type: [Debug, Release]
    uses: ./.github/workflows/build_windows.yml
    with:
      build_type: ${{ matrix.build_type }}
      restore_cache: true
      upload_cache: false

  build_host_mac:
    permissions:
      contents: read
      pull-requests: write
    uses: ./.github/workflows/build_mac.yml
    with:
      build_type: Release
      restore_cache: true
      upload_cache: false

  build_device_android:
    permissions:
      contents: read
      pull-requests: write
    uses: ./.github/workflows/build_android.yml
    with:
      build_type: Release
      restore_cache: true
      upload_cache: false
