name: Dive Weekday Scheduled Tests

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  schedule:
    - cron: "40 5 * * 1,2,3,4,5" # 5:40 UTC (1:40 or 2:40 eastern)
  workflow_dispatch: # manual

# Full combination
jobs:
  build_host_linux:
    permissions:
      contents: read
      pull-requests: write
    strategy:
      matrix:
        build_type: [Debug, Release]
        cc: [gcc-14, clang-19]
        include:
          - cc: gcc-14
            cxx: g++-14
          - cc: clang-19
            cxx: clang++-19
    uses: ./.github/workflows/build_linux.yml
    with:
      build_type: ${{ matrix.build_type }}
      cc: ${{ matrix.cc }}
      cxx: ${{ matrix.cxx }}
      upload_cache: true

  build_host_windows:
    permissions:
      contents: read
      pull-requests: write
    strategy:
      matrix:
        build_type: [Debug, Release]
    uses: ./.github/workflows/build_windows.yml
    with:
      build_type: ${{ matrix.build_type }}
      upload_cache: true

  build_host_mac:
    permissions:
      contents: read
      pull-requests: write
    strategy:
      matrix:
        build_type: [Debug, Release]
    uses: ./.github/workflows/build_mac.yml
    with:
      build_type: ${{ matrix.build_type }}
      upload_cache: true

  build_device_android:
    permissions:
      contents: read
      pull-requests: write
    strategy:
      matrix:
        build_type: [Debug, Release]
    uses: ./.github/workflows/build_android.yml
    with:
      build_type: ${{ matrix.build_type }}
      upload_cache: true
